@model IEnumerable<XOSkinWebApp.Models.OrderViewModel>

@{
  ViewData["Title"] = "Your Orders";
}

<div class="text-center">
  <h1 class="display-4">Your <br />Orders</h1>
  @Html.Raw(ViewData["Orders.WelcomeText"])
</div>
<table class="table" id="Orders">
<thead>
  <tr>
    <th>
      Confirmation Number
    </th>
    <th>
      Date Placed
    </th>
    <th>
      Recipient
    </th>
    <th>
      Status
    </th>
    <th>
      Arrives
    </th>
    <th>
      Tracking Number
    </th>
    <th></th>
  </tr>
</thead>
<tbody>
@foreach (var item in Model)
{
  <tr>
    <td>
      @Html.Raw("#XO" + (item.OrderId + 10000))
    </td>
    <td>
      @Html.Raw(item.DatePlaced == null ? String.Empty : item.DatePlaced.Value.ToShortDateString())
    </td>
    <td>
      @Html.Raw(item.Recipient)
    </td>
    <td>
      @Html.Raw(item.Status)
    </td>
    <td>
      @Html.Raw(item.Arrives == null ? String.Empty : item.Arrives.Value.ToShortDateString())
    </td>
    <td>
      @Html.DisplayFor(modelItem => item.TrackingNumber)
    </td>
    <td>
      <a asp-action="Detail" asp-route-id="@item.OrderId">Details</a>
    </td>
  </tr>
}
</tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#Orders').DataTable({
      'order': [[ 0, 'desc']]
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>