@model IEnumerable<XOSkinWebApp.Models.ProductModel>

@{
  ViewData["Title"] = "Top Sellers";
}

<div class="text-center">
  <h1 class="display-4">Top Sellers</h1>
  @Html.Raw(ViewData["TopSellers.WelcomeText"])
</div>

@*<table class="table" id="TopProduct">
  <thead>
    <tr>
      <th></th>
      <th>
        Name
      </th>
      <th>
        Description
      </th>
      <th>
        Price
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          <img src="@item.ImageSource" height="200" />
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
          $@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
          <span class="text-nowrap">Add to Cart</span>
        </td>
      </tr>
    }
  </tbody>
</table>*@

<table class="table text-center" style="width: 390px; margin-left: auto; margin-right: auto">
  @foreach (var item in Model)
  {
  <tr>
    <td>
      <p>
        <img src="@item.ImageSource" height="300" /><br />
        <b>@Html.DisplayFor(modelItem => item.Name)</b> <br />
        <span style="text-align: justify">
          @Html.DisplayFor(modelItem => item.Description)
        </span> <br />
        $@Html.DisplayFor(modelItem => item.Price) <br />
        <span class="text-nowrap font-weight-bold">Add to Cart</span>
      </p>
    </td>
  </tr>
  }
</table>

@*<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#TopProduct').DataTable();

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>*@
