@model IEnumerable<XOSkinWebApp.ORM.LocalizedText>

@{
  ViewData["Title"] = "Text Localizations";
}

<h1>Text Localizations</h1>

<p>
  <a asp-action="Create">Create New</a>
</p>
<table class="table" id="TextLocalizations">
  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Text)
      </th>
      <th>
        Placement Point Code
      </th>
      <th>
        Language
      </th>
      <th>
        Page
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PlacementPointCode)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.LanguageNavigation.LanguageName)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.PageNavigation.Name)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
          <!--|
          <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
        </td>
      </tr>
    }
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#TextLocalizations').DataTable();

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>
