@model IEnumerable<XOSkinWebApp.Areas.Administration.Models.ShipmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Order Fulfillment</h1>
<h4>All Dates and Times UTC</h4>
<table class="table" id="Fulfillment">
  <thead>
    <tr>
      <th>
        Status
      </th>
      <th>
        Order Placed
      </th>
      <th>
        Promised Fulfillment
      </th>
      <th>
        Fulfilled
      </th>
      <th>
        Items
      </th>
      <th>
        Recipient
      </th>
      <th>
        State
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.ShipmentStatus)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DatePlaced)
      </td>
      <td>
        @Html.Raw(item.DateShipped == null ? String.Empty : ((DateTime)item.DateShipped).ToShortDateString())
      </td>
      <td>
        @Html.Raw(item.ActualDateShipped == null ? "PENDING" : item.ActualDateShipped)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.NumberOfItems)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Recipient)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.StateName)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.OrderId">View</a>
      </td>
    </tr>
}
    </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    function highlight_pending() {
      const page = document.body.innerHTML;
      document.body.innerHTML = page.replace(new RegExp("PENDING", "gi"), (match) =>
        `<mark style="background-color: #FF7F7F">${match}</mark>`);
    }

    function highlight_shipped() {
      const page = document.body.innerHTML;
      document.body.innerHTML = page.replace(new RegExp("SHIPPED", "gi"), (match) =>
        `<mark style="background-color: #90EE90">${match}</mark>`);
    }

    highlight_pending();
    highlight_shipped();

    var table = $('#Fulfillment').DataTable({
      'order': [[0, 'asc']]
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>
