@model IEnumerable<XOSkinWebApp.Areas.Administration.Models.ShipmentViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order Fulfillment</h1>
<h4>All Dates and Times UTC</h4>
<table class="table" id="Shipments">
  <thead>
    <tr>
      <th>
        Status
      </th>
      <th>
        Pre-Paid Label
      </th>
      <th>
        Date Order Placed
      </th>
      <th>
        Promised Ship Date
      </th>
      <th>
        Actual Ship Date
      </th>
      <th>
        Items
      </th>
      <th>
        Recipient
      </th>
      <th>
        State
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(modelItem => item.ShipmentStatus)
      </td>
      <td>
        <a href="@item.ShippingLabelURL" target="_blank">Print</a>
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DatePlaced)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.DateShipped)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.ActualDateShipped)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.NumberOfItems)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Recipient)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.StateName)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
      </td>
    </tr>
}
    </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#Shipments').DataTable({
      'order': [[ 2, 'asc']]
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>
