@model XOSkinWebApp.Areas.Administration.Models.DiscountCodeViewModel

@{
  ViewData["Title"] = "Edit";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Discount Code</h4>
<hr />
<form asp-action="Edit">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group form-check font-weight-bolder">
        <label class="form-check-label">
          <input class="form-check-input" asp-for="Active" />
          @Html.DisplayNameFor(model => model.Active)
        </label>
      </div>
      <div class="form-group">
        <label asp-for="Code" class="control-label font-weight-bolder"></label>
        <input asp-for="Code" class="form-control font-weight-bolder" readonly />
        <span asp-validation-for="Code" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInNProductPercentage"
            disabled id="chk-discount-as-in-n-product-percentage" />
          @Html.Raw("Discount As In N-Product Percentage")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountNProductPercentage" class="control-label">
          @Html.Raw("Discount As In N-Product Percentage")
        </label>
        <input asp-for="DiscountNProductPercentage" class="form-control" disabled 
          id="discount-as-in-n-product-percentage" />
        <span asp-validation-for="DiscountNProductPercentage" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInNProductDollars" 
            disabled id="chk-discount-as-in-n-product-dollars" />
          @Html.Raw("Discount As In N-Product Dollars")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountInNProductDollars" class="control-label">
          @Html.Raw("Discount As In N-Product Dollars")
        </label>
        <input asp-for="DiscountInNProductDollars" class="form-control" disabled 
          id="discount-as-in-n-product-dollars" />
        <span asp-validation-for="DiscountInNProductDollars" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DiscountProductN" class="control-label">Discount Product N</label>
        <input asp-for="DiscountProductN" class="form-control" disabled id="discount-product-n" />
        <span asp-validation-for="DiscountProductN" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="MinimumPurchase" class="control-label">Minimum Purchase (USD)</label>
        <input asp-for="MinimumPurchase" class="form-control" disabled id="minimum-purchase" />
        <span asp-validation-for="MinimumPurchase" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Product" class="control-label">N-Products</label>
        <select asp-for="Product" class="form-control" asp-items="ViewBag.Products" id="n-products" 
          size="6" disabled>
        </select>
        <span asp-validation-for="Product" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInGlobalOrderPercentage"
                 disabled id="chk-discount-as-in-global-order-percentage" />
          @Html.Raw("Discount As In Global Order Percentage")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountGlobalOrderPercentage" class="control-label">
          @Html.Raw("Discount As In Global Order Percentage")
        </label>
        <input asp-for="DiscountGlobalOrderPercentage" class="form-control" disabled
               id="discount-as-in-global-order-percentage" />
        <span asp-validation-for="DiscountGlobalOrderPercentage" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInGlobalOrderDollars"
                 disabled id="chk-discount-as-in-global-order-dollars" />
          @Html.Raw("Discount As In Global Order Dollars")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountGlobalOrderDollars" class="control-label">
          @Html.Raw("Discount As In Global Order Dollars")
        </label>
        <input asp-for="DiscountGlobalOrderDollars" class="form-control" disabled
               id="discount-as-in-global-order-dollars" />
        <span asp-validation-for="DiscountGlobalOrderDollars" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ValidFrom" class="control-label font-weight-bolder">Valid From</label>
        <input asp-for="ValidFrom" class="form-control" disabled />
        <span asp-validation-for="ValidFrom" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ValidTo" class="control-label font-weight-bolder">Valid To</label>
        <input asp-for="ValidTo" class="form-control" disabled />
        <span asp-validation-for="ValidTo" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="CreatedBy" class="control-label">
          @Html.Raw("Created By")
        </label>
        <input asp-for="CreatedBy" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label asp-for="Created" class="control-label">
          @Html.Raw("Created")
        </label>
        <input asp-for="Created" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label asp-for="LastUpdatedBy" class="control-label">
          @Html.Raw("Last Updated By")
        </label>
        <input asp-for="LastUpdatedBy" class="form-control" disabled />
      </div>
      <div class="form-group">
        <label asp-for="LastUpdated" class="control-label">
          @Html.Raw("Last Updated")
        </label>
        <input asp-for="LastUpdated" class="form-control" disabled />
      </div>
      <div class="form-group">
        <input type="submit" value="Update" class="btn btn-danger" />
      </div>
    </div>
  </div>
</form>
<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
