@model XOSkinWebApp.Areas.Administration.Models.DiscountCouponViewModel

@{
  ViewData["Title"] = "Create";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Discount Coupon</h4>
<hr />
<form asp-action="Create" enctype="multipart/form-data" id="create">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input font-weight-bolder" asp-for="Active" checked />
          @Html.DisplayNameFor(model => model.Active)
        </label>
      </div>
      <div class="form-group">
        <label asp-for="ImageLarge" class="control-label font-weight-bolder" id="image-large">Discount Coupon Image File (Only .jpg or .jpeg files admitted.)<br />Works best with square (1:1) aspect ratio images.<br /> Preferred Image Size is 300px by 300px.</label>
        <input asp-for="ImageLarge" class="btn btn-outline-dark" type="file" /><br />
        <span asp-validation-for="ImageLarge" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Name" class="control-label font-weight-bolder"></label>
        <input asp-for="Name" class="form-control font-weight-bolder" />
        <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInNProductPercentage"
                 id="chk-discount-as-in-n-product-percentage" />
          @Html.Raw("Discount As In N-Product Percentage")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountNProductPercentage" class="control-label">
          @Html.Raw("Discount As In N-Product Percentage")
        </label>
        <input asp-for="DiscountNProductPercentage" class="form-control" disabled id="discount-as-in-n-product-percentage" />
        <span asp-validation-for="DiscountNProductPercentage" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInNProductDollars" id="chk-discount-as-in-n-product-dollars" />
          @Html.Raw("Discount As In N-Product Dollars")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountInNProductDollars" class="control-label">
          @Html.Raw("Discount As In N-Product Dollars")
        </label>
        <input asp-for="DiscountInNProductDollars" class="form-control" disabled id="discount-as-in-n-product-dollars" />
        <span asp-validation-for="DiscountInNProductDollars" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="DiscountProductN" class="control-label">Discount Product N</label>
        <input asp-for="DiscountProductN" class="form-control" disabled id="discount-product-n" />
        <span asp-validation-for="DiscountProductN" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="MinimumPurchase" class="control-label">Minimum Purchase (USD)</label>
        <input asp-for="MinimumPurchase" class="form-control" disabled id="minimum-purchase" />
        <span asp-validation-for="MinimumPurchase" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="Product" class="control-label">N-Product</label>
        <select asp-for="Product" class="form-control" asp-items="ViewBag.Products" id="n-products" size="6" disabled>
        </select>
        <span asp-validation-for="Product" class="text-danger"></span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInGlobalOrderPercentage"
                 id="chk-discount-as-in-global-order-percentage" />
          @Html.Raw("Discount As In Global Order Percentage")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountGlobalOrderPercentage" class="control-label">
          @Html.Raw("Discount As In Global Order Percentage")
        </label>
        <input asp-for="DiscountGlobalOrderPercentage" class="form-control" disabled
               id="discount-as-in-global-order-percentage" />
        <span asp-validation-for="DiscountGlobalOrderPercentage" class="text-danger"></span>
      </div>
      <div class="form-group form-check">
        <label class="form-check-label font-weight-bolder">
          <input class="form-check-input" asp-for="DiscountAsInGlobalOrderDollars"
                 id="chk-discount-as-in-global-order-dollars" />
          @Html.Raw("Discount As In Global Order Dollars")
        </label>
      </div>
      <div class="form-group">
        <label asp-for="DiscountAsInGlobalOrderDollars" class="control-label">
          @Html.Raw("Discount As In Global Order Dollars")
        </label>
        <input asp-for="DiscountGlobalOrderDollars" class="form-control" disabled
               id="discount-as-in-global-order-dollars" />
        <span asp-validation-for="DiscountGlobalOrderDollars" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ValidFrom" class="control-label font-weight-bolder">Valid From</label>
        <input asp-for="ValidFrom" class="form-control" />
        <span asp-validation-for="ValidFrom" class="text-danger"></span>
      </div>
      <div class="form-group">
        <label asp-for="ValidTo" class="control-label font-weight-bolder">Valid To</label>
        <input asp-for="ValidTo" class="form-control" />
        <span asp-validation-for="ValidTo" class="text-danger"></span>
      </div>
      <div class="form-group">
        <input type="submit" value="Create" class="btn btn-danger" />
      </div>
    </div>
  </div>
</form>
<div>
  <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
  @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
  $(document).ready(function () {
    $('#chk-discount-as-in-n-product-percentage').change(function () {
      if ($('#chk-discount-as-in-n-product-percentage').prop('checked')) {
        $('#discount-as-in-n-product-percentage').attr('disabled', false);
        $('#discount-product-n').attr('disabled', false);
        $('#n-products').attr('disabled', false);
        $('#chk-discount-as-in-n-product-dollars').prop('checked', false);
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', true);
        $('#discount-as-in-n-product-dollars').val('');
        $('#chk-discount-as-in-global-order-percentage').prop('checked', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', true);
        $('#discount-as-in-in-global-order-percentage').val('');
        $('#chk-discount-as-in-global-order-dollars').prop('checked', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', true);
        $('#discount-as-in-in-global-order-dollars').val('');
        $('#minimum-purchase').attr('disabled', false);
      } else {
        $('#discount-as-in-n-product-percentage').attr('disabled', true);
        $('#discount-as-in-n-product-percentage').val('');
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', false);
        $('#minimum-purchase').attr('disabled', true);
        $('#minimum-purchase').val('');
        if (!$('#chk-discount-as-in-n-product-dollars').prop('checked')) {
          $('#discount-product-n').attr('disabled', true);
          $('#discount-product-n').val('');
          $('#n-products').attr('disabled', true);
          $('#n-products').val('');
        }
      }
    });

    $('#chk-discount-as-in-n-product-dollars').change(function () {
      if ($('#chk-discount-as-in-n-product-dollars').prop('checked')) {
        $('#discount-as-in-n-product-dollars').attr('disabled', false);
        $('#discount-product-n').attr('disabled', false);
        $('#n-products').attr('disabled', false);
        $('#chk-discount-as-in-n-product-percentage').prop('checked', false);
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', true);
        $('#discount-as-in-n-product-percentage').val('');
        $('#chk-discount-as-in-global-order-percentage').prop('checked', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', true);
        $('#discount-as-in-in-global-order-percentage').val('');
        $('#chk-discount-as-in-global-order-dollars').prop('checked', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', true);
        $('#discount-as-in-in-global-order-dollars').val('');
        $('#minimum-purchase').attr('disabled', false);
      } else {
        $('#discount-as-in-n-product-dollars').attr('disabled', true);
        $('#discount-as-in-n-product-dollars').val('');
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', false);
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', false);
        $('#minimum-purchase').attr('disabled', true);
        $('#minimum-purchase').val('');
        if (!$('#chk-discount-as-in-n-product-percentage').prop('checked')) {
          $('#discount-product-n').attr('disabled', true);
          $('#discount-product-n').val('');
          $('#n-products').attr('disabled', true);
          $('#n-products').val('');
        }
      }
    });

    $('#chk-discount-as-in-global-order-percentage').change(function () {
      if ($('#chk-discount-as-in-global-order-percentage').prop('checked')) {
        $('#discount-as-in-global-order-percentage').attr('disabled', false);
        $('#chk-discount-as-in-n-product-dollars').prop('checked', false);
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', true);
        $('#discount-as-in-n-product-dollars').val('');
        $('#chk-discount-as-in-n-product-percentage').prop('checked', false);
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', true);
        $('#discount-as-in-n-product-percentage').val('');
        $('#chk-discount-as-in-global-order-dollars').prop('checked', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', true);
        $('#discount-as-in-in-global-order-dollars').val('');
        $('#discount-product-n').attr('disabled', false);
        $('#minimum-purchase').attr('disabled', false);
      } else {
        $('#discount-as-in-global-order-percentage').attr('disabled', true);
        $('#discount-as-in-global-order-percentage').val('');
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', false);
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', false);
        $('#chk-discount-as-in-global-order-dollars').attr('disabled', false);
        $('#discount-product-n').attr('disabled', true);
        $('#discount-product-n').val('');
        $('#minimum-purchase').attr('disabled', true);
        $('#minimum-purchase').val('');
      }
    });

    $('#chk-discount-as-in-global-order-dollars').change(function () {
      if ($('#chk-discount-as-in-global-order-dollars').prop('checked')) {
        $('#discount-as-in-global-order-dollars').attr('disabled', false);
        $('#chk-discount-as-in-n-product-dollars').prop('checked', false);
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', true);
        $('#discount-as-in-n-product-dollars').val('');
        $('#chk-discount-as-in-n-product-percentage').prop('checked', false);
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', true);
        $('#discount-as-in-n-product-percentage').val('');
        $('#chk-discount-as-in-global-order-percentage').prop('checked', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', true);
        $('#discount-as-in-in-global-order-percentage').val('');
        $('#discount-product-n').attr('disabled', false);
        $('#minimum-purchase').attr('disabled', false);
      } else {
        $('#discount-as-in-global-order-dollars').attr('disabled', true);
        $('#discount-as-in-global-order-dollars').val('');
        $('#chk-discount-as-in-n-product-dollars').attr('disabled', false);
        $('#chk-discount-as-in-n-product-percentage').attr('disabled', false);
        $('#chk-discount-as-in-global-order-percentage').attr('disabled', false);
        $('#discount-product-n').attr('disabled', true);
        $('#discount-product-n').val('');
        $('#minimum-purchase').attr('disabled', true);
        $('#minimum-purchase').val('');
      }
    });
  });
</script>