@model IEnumerable<XOSkinWebApp.Areas.Administration.Models.ProductViewModel>

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive" id="Products">
  <thead>
    <tr>
      <th>
          Shopify Id
      </th>
      <th style="width: 100px">
          @Html.DisplayNameFor(model => model.Sku)
      </th>
      <th>
          @Html.DisplayNameFor(model => model.Name)
      </th>
      <th style="width: 90px">
          Kit Type
      </th>
      <th>
          @Html.DisplayNameFor(model => model.Stock)
      </th>
      <th style="width: 95px">
          Current Price
      </th>
      <th>
          @Html.DisplayNameFor(model => model.Active)
      </th>
      <th>
          @Html.DisplayNameFor(model => model.Created)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
@foreach (var item in Model) {
    <tr>
      <td>
          @Html.DisplayFor(modelItem => item.ShopifyProductId)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Sku)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Name)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.KitTypeName)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Stock)
      </td>
      <td>
          $@Html.DisplayFor(modelItem => item.CurrentPrice)
      </td>
      <td>
          @Html.DisplayFor(modelItem => item.Active)
      </td>
      <td>
          @Html.Raw(item.Created.ToShortDateString())
      </td>
      <td style="width: 60px">
          <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
      </td>
    </tr>
}
    </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#Products').DataTable({
      'order': [[7, 'desc']]
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>