@model CheckoutViewModel

@{
  ViewData["Title"] = "Your Order Confirmation";
}

<div class="text-center">
  <h1 class="display-4">Thank you for<br />Your Order!</h1>
  @Html.Raw(ViewData["OrderConfirmation.WelcomeText"])
</div>
<p>
  <div style="display: inline"><a class="btn-outline-dark btn" asp-area="" asp-controller="Orders" asp-action="Index">View Your Orders</a></div>
</p>
<br />
<div class="container-fluid">
  <div class="row" style="width: 100%; margin-left: auto; margin-right: auto">
    <div class="col-sm-4">
      <h4>Billing Address</h4>
      <div class="form-group">
        <label class="control-label">Name on Credit Card</label>
        <input asp-for="BillingName" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="BillingAddress1" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="BillingAddress2" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="BillingCity" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="BillingState" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="BillingCountry" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="BillingPostalCode" class="form-control" readonly />
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <h4>Shipping Address, Same? <input asp-for="ShippingAddressSame" id="same-address" type="checkbox" disabled /></h4>
      <div class="form-group">
        <label class="control-label">Recipient's Name</label>
        <input asp-for="ShippingName" class="form-control" id="shipping-name" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="ShippingAddress1" class="form-control" id="shipping-address1" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="ShippingAddress2" class="form-control" id="shipping-address2" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="ShippingCity" class="form-control" id="shipping-city" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="ShippingState" class="form-control" id="shipping-state" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="ShippingCountry" class="form-control" id="shipping-country" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="ShippingPostalCode" class="form-control" id="shipping-postal-code" readonly />
      </div>
    </div>
    <div class="col-sm-4" style="font-weight: 500; line-height: 1.2; font-size: 1.5rem">
      <div style="text-align: right; margin-right: 40px">Order: @Html.Raw("#XO" + (Model.OrderId + 10000))</div>
      <div style="text-align: right; margin-right: 40px">Carrier: <span style="font-weight: 100">@Html.Raw(Model.CarrierName)</span></div>
      <div style="text-align: right; margin-right: 40px">Shipping: <span style="font-weight: 100">@Html.Raw(Model.ShippedOn.ToShortDateString())</span></div>
      <div style="text-align: right; margin-right: 40px">Arrival: <span style="font-weight: 100">@Html.Raw(Model.ExpectedToArrive.ToShortDateString())</span></div>
      <br />
      <div style="text-align: right; margin-right: 40px">Sub-Total: <span style="font-weight: 100">$@Html.Raw(String.Format("{0:0.00}", Model.SubTotal))</span></div>
      <div style="text-align: right; margin-right: 40px">Taxes: <span style="font-weight: 100">+$@Html.Raw(String.Format("{0:0.00}", Model.Taxes))</span></div>
      <div style="text-align: right; margin-right: 40px">USPS Priority Mail: <span style="font-weight: 100">+$@Html.Raw(String.Format("{0:0.00}", Model.ShippingCharges))</span></div>
      <div style="text-align: right; margin-right: 40px">Code Discount: <span style="font-weight: 100">-$@Html.Raw(String.Format("{0:0.00}", Model.CodeDiscount))</span></div>
      <div style="text-align: right; margin-right: 40px">Coupon Discount: <span style="font-weight: 100">-$@Html.Raw(String.Format("{0:0.00}", Model.CouponDiscount))</span></div>
      <div style="text-align: right; margin-right: 40px">Total: $@Html.Raw(String.Format("{0:0.00}", Model.Total))</div>
      <br />
      <div id="map"></div>
    </div>
  </div>
</div>
<h4>Items in Your Order</h4>
<table class="table table-responsive" id="OrderItems" style="margin-left: auto; margin-right: auto">
  <thead>
    <tr>
      <th></th>
      <th class="text-nowrap">Product Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th class="text-nowrap">Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ShoppingCartLineItemViewModel lineItem in Model.LineItem)
    {
      <tr>
        <td><img src="@lineItem.ImageSource" style="height: 100px; display: inline; float: left" /></td>
        <td style="font-weight: bold">@Html.DisplayFor(modelItem => lineItem.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => lineItem.ProductDescription)</td>
        <td style="width: 170px">
          <div style="display: inline; float: left">
            @lineItem.Quantity
          </div>
        </td>
        <td>@Html.DisplayFor(modelItem => lineItem.Total)</td>
      </tr>
    }
  </tbody>
</table>
<form asp-action="PlaceOrder" id="PlaceOrder">
  <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
</form>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#OrderItems').DataTable({
      paging: false,
      searching: false,
      sort: false,
      bInfo: false
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBleIbmeB7EG7zc8DElUEaGzXIYiHHFjQ4&callback=initMap&libraries=&v=weekly" async></script>
<script type="text/javascript">
  // Initialize and add the map
  function initMap() {
    // 40 Putnam Ave. Brooklyn NY, 11238
    const home = { lat: 40.6826948, lng: -73.9623714 };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 14,
      disableDefaultUI: true,
      center: home,
      styles: [
        { elementType: "geometry", stylers: [{ color: "#424242" }] },
        { elementType: "labels.text.stroke", stylers: [{ color: "#424242" }] },
        { elementType: "labels.text.fill", stylers: [{ color: "#797979" }] },
        {
          featureType: "administrative.locality",
          elementType: "labels.text.fill",
          stylers: [{ color: "#ffffff" }],
        },
        {
          featureType: "poi",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d5d5d5" }],
        },
        {
          featureType: "poi.park",
          elementType: "geometry",
          stylers: [{ color: "#404040" }],
        },
        {
          featureType: "poi.park",
          elementType: "labels.text.fill",
          stylers: [{ color: "#9b9b9b" }],
        },
        {
          featureType: "road",
          elementType: "geometry",
          stylers: [{ color: "#535353" }],
        },
        {
          featureType: "road",
          elementType: "geometry.stroke",
          stylers: [{ color: "#3c3c3c" }],
        },
        {
          featureType: "road",
          elementType: "labels.text.fill",
          stylers: [{ color: "#b5b5b5" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry",
          stylers: [{ color: "#797979" }],
        },
        {
          featureType: "road.highway",
          elementType: "geometry.stroke",
          stylers: [{ color: "#393939" }],
        },
        {
          featureType: "road.highway",
          elementType: "labels.text.fill",
          stylers: [{ color: "#f3f3f3" }],
        },
        {
          featureType: "transit",
          elementType: "geometry",
          stylers: [{ color: "#494949" }],
        },
        {
          featureType: "transit.station",
          elementType: "labels.text.fill",
          stylers: [{ color: "#d4d4d4" }],
        },
        {
          featureType: "water",
          elementType: "geometry",
          stylers: [{ color: "#3f3f3f" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.fill",
          stylers: [{ color: "#6e6e6e" }],
        },
        {
          featureType: "water",
          elementType: "labels.text.stroke",
          stylers: [{ color: "#404040" }],
        }]
    });
    // The marker, positioned at home.
    const marker = new google.maps.Marker({
      position: home,
      map: map,
    });
  }
</script>