@model CheckoutViewModel

@{
  ViewData["Title"] = "Your Order Confirmation";
}

<div class="text-center">
  <h1 class="display-4">Your Order <br />Confirmation</h1>
  @Html.Raw(ViewData["OrderConfirmation.WelcomeText"])
</div>
<p>
  <div style="display: inline"><a class="btn-outline-dark btn" asp-area="" asp-controller="Orders" asp-action="Index">View Your Orders</a></div>
</p>
<br />
<div class="container-fluid">
  <div class="row" style="width: 100%; margin-left: auto; margin-right: auto">
    <div class="col-sm-4">
      <h4>Billing Address</h4>
      <div class="form-group">
        <label class="control-label">Name on Credit Card</label>
        <input asp-for="BillingName" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="BillingAddress1" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="BillingAddress2" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="BillingCity" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="BillingState" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="BillingCountry" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="BillingPostalCode" class="form-control" readonly />
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <h4>Shipping Address, Same? <input asp-for="ShippingAddressSame" id="same-address" type="checkbox" disabled /></h4>
      <div class="form-group">
        <label class="control-label">Recipient's Name</label>
        <input asp-for="ShippingName" class="form-control" id="shipping-name" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="ShippingAddress1" class="form-control" id="shipping-address1" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="ShippingAddress2" class="form-control" id="shipping-address2" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="ShippingCity" class="form-control" id="shipping-city" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="ShippingState" class="form-control" id="shipping-state" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="ShippingCountry" class="form-control" id="shipping-country" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="ShippingPostalCode" class="form-control" id="shipping-postal-code" readonly />
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Billing and Shipping</h4><br />
      <div class="form-group">
        <div style="display: inline; float: left; vertical-align: middle">
          <label class="control-label font-weight-bolder">Order Confirmation Number:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span class="font-weight-bolder">@Html.Raw("#XO" + (Model.OrderId + 10000))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">Sub-Total:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>$@Html.Raw(String.Format("{0:0.00}", Model.SubTotal))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">(+) Taxes:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>$@Html.Raw(String.Format("{0:0.00}", Model.Taxes))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">(+) Shipping:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>$@Html.Raw(String.Format("{0:0.00}", Model.ShippingCharges))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">(-) Code Discount:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>$@Html.Raw(String.Format("{0:0.00}", Model.CodeDiscount))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">(-) Coupon Discount:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>$@Html.Raw(String.Format("{0:0.00}", Model.CouponDiscount))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label font-weight-bolder">(=) Total:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span class="font-weight-bolder">$@Html.Raw(String.Format("{0:0.00}", Model.Total))</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">Billed:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>@Html.Raw(Model.BilledOn.ToShortDateString())</span>
        </div>
      </div><br />
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">Carrier:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          @*<span>@Html.Raw(Model.CarrierName)</span> TODO: Find out why this field is not being read or written correctly.*@
          <span>USPS Priority Mail</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label font-weight-bolder">Tracking Number:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          @*<span class="font-weight-bolder">@Html.Raw(Model.TrackingNumber.Equals(String.Empty) ? "To Be Updated Soon" : Model.TrackingNumber)</span>*@
          To Be Updated Soon
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label">Shipping:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span>@Html.Raw(Model.ShippedOn.ToShortDateString())</span>
        </div>
      </div>
      <div class="form-group">
        <div style="display: inline;">
          <label class="control-label font-weight-bolder">Arrival:</label>
        </div>
        <div style="display: inline;">&nbsp;</div>
        <div style="display: inline;">
          <span class="font-weight-bolder">@Html.Raw(Model.ExpectedToArrive.ToShortDateString())</span>
        </div>
      </div>
    </div>
  </div>
</div>
<h4>Items in Your Order</h4>
<table class="table table-responsive" id="OrderItems" style="margin-left: auto; margin-right: auto">
  <thead>
    <tr>
      <th></th>
      <th class="text-nowrap">Product Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th class="text-nowrap">Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ShoppingCartLineItemViewModel lineItem in Model.LineItem)
    {
      <tr>
        <td><img src="@lineItem.ImageSource" style="height: 100px; display: inline; float: left" /></td>
        <td style="font-weight: bold">@Html.DisplayFor(modelItem => lineItem.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => lineItem.ProductDescription)</td>
        <td style="width: 170px">
          <div style="display: inline; float: left">
            @lineItem.Quantity
          </div>
        </td>
        <td>@Html.DisplayFor(modelItem => lineItem.Total)</td>
      </tr>
    }
  </tbody>
</table>
<form asp-action="PlaceOrder" id="PlaceOrder">
  <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
</form>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#OrderItems').DataTable({
      paging: false,
      searching: false,
      sort: false,
      bInfo: false
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>