@model CheckoutViewModel

@{
  ViewData["Title"] = "Your Order Confirmation";
}

<div class="text-center">
  <h1 class="display-4">Your Order <br />Confirmation</h1>
  @Html.Raw(ViewData["OrderConfirmation.WelcomeText"])
</div>
<p>
  <div style="display: inline"><a class="btn-outline-dark btn" asp-area="" asp-controller="Orders" asp-action="Index">View Your Orders</a></div>
</p>
<br />
<div class="container-fluid">
  <div class="row" style="width: 100%; margin-left: auto; margin-right: auto">
    <div class="col-sm-4">
      <h4>Billing Address</h4>
      <div class="form-group">
        <label class="control-label">Name on Credit Card</label>
        <input asp-for="BillingName" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="BillingAddress1" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="BillingAddress2" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="BillingCity" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="BillingState" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="BillingCountry" class="form-control" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="BillingPostalCode" class="form-control" readonly />
      </div>
    </div>
    <div class="col-sm-4" style="padding-left: 10px; padding-right: 10px">
      <h4>Shipping Address, Same? <input asp-for="ShippingAddressSame" id="same-address" type="checkbox" disabled /></h4>
      <div class="form-group">
        <label class="control-label">Recipient's Name</label>
        <input asp-for="ShippingName" class="form-control" id="shipping-name" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 1</label>
        <input asp-for="ShippingAddress1" class="form-control" id="shipping-address1" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Address Line 2</label>
        <input asp-for="ShippingAddress2" class="form-control" id="shipping-address2" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">City</label>
        <input asp-for="ShippingCity" class="form-control" id="shipping-city" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">State</label>
        <input asp-for="ShippingState" class="form-control" id="shipping-state" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Country</label>
        <input asp-for="ShippingCountry" class="form-control" id="shipping-country" readonly />
      </div>
      <div class="form-group">
        <label class="control-label">Postal Code</label>
        <input asp-for="ShippingPostalCode" class="form-control" id="shipping-postal-code" readonly />
      </div>
    </div>
    <div class="col-sm-4">
      <div style="text-align: right; margin-right: 40px" class="font-weight-bolder">Order: @Html.Raw("#XO" + (Model.OrderId + 10000))</div>
      <div style="text-align: right; margin-right: 40px">Carrier: @Html.Raw(Model.CarrierName)</div>
      <div style="text-align: right; margin-right: 40px">Shipping: @Html.Raw(Model.ShippedOn.ToShortDateString())</div>
      <div style="text-align: right; margin-right: 40px">Arrival: @Html.Raw(Model.ExpectedToArrive.ToShortDateString())</div>
      <br />
      <div style="text-align: right; margin-right: 40px">Sub-Total: $@Html.Raw(String.Format("{0:0.00}", Model.SubTotal))</div>
      <div style="text-align: right; margin-right: 40px">Taxes: +$@Html.Raw(String.Format("{0:0.00}", Model.Taxes))</div>
      <div style="text-align: right; margin-right: 40px">USPS Priority Mail: +$@Html.Raw(String.Format("{0:0.00}", Model.ShippingCharges))</div>
      <div style="text-align: right; margin-right: 40px">Code Discount: -$@Html.Raw(String.Format("{0:0.00}", Model.CodeDiscount))</div>
      <div style="text-align: right; margin-right: 40px">Coupon Discount: -$@Html.Raw(String.Format("{0:0.00}", Model.CouponDiscount))</div>
      <div style="font-weight: bold; text-align: right; margin-right: 40px">Total: $@Html.Raw(String.Format("{0:0.00}", Model.Total))</div>
    </div>
  </div>
</div>
<h4>Items in Your Order</h4>
<table class="table table-responsive" id="OrderItems" style="margin-left: auto; margin-right: auto">
  <thead>
    <tr>
      <th></th>
      <th class="text-nowrap">Product Name</th>
      <th>Description</th>
      <th>Quantity</th>
      <th class="text-nowrap">Sub-Total</th>
    </tr>
  </thead>
  <tbody>
    @foreach (ShoppingCartLineItemViewModel lineItem in Model.LineItem)
    {
      <tr>
        <td><img src="@lineItem.ImageSource" style="height: 100px; display: inline; float: left" /></td>
        <td style="font-weight: bold">@Html.DisplayFor(modelItem => lineItem.ProductName)</td>
        <td>@Html.DisplayFor(modelItem => lineItem.ProductDescription)</td>
        <td style="width: 170px">
          <div style="display: inline; float: left">
            @lineItem.Quantity
          </div>
        </td>
        <td>@Html.DisplayFor(modelItem => lineItem.Total)</td>
      </tr>
    }
  </tbody>
</table>
<form asp-action="PlaceOrder" id="PlaceOrder">
  <input type="hidden" asp-for="OrderId" value="@Model.OrderId" />
</form>
<script type="text/javascript">
  $(document).ready(function () {
    var table = $('#OrderItems').DataTable({
      paging: false,
      searching: false,
      sort: false,
      bInfo: false
    });

    new $.fn.dataTable.Responsive(table, {
      details: true
    });
  });
</script>